.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60%;
}

.lista-menu_titulo,
.lista-menu_item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao {
    display: none;
}